.pokemon-card {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 250px;
    margin: 20px auto;
    text-align: center;
}

.pokemon-card h2 {
    margin-top: 0;
}

.pokemon-card img {
    width: 120px;
    height: 120px;
}

.pokemon-card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.pokemon-card li {
    background-color:  lightgrey;
    margin: 6px 0;
    border-radius: 4px;

}